<style>
.macbook-pro-14-1 {
align-items: flex-start;
display: flex;
height: auto;
padding: 40px 59px;


}

img {
  width: 74px;
}

.hidden,
.hidden * {
pointer-events: none;
visibility: hidden;
}
.overlap-group {
height: 454px;
position: relative;
width: 506px;
}
.group {
height: 333px;
left: 83px;
position: absolute;
top: 32px;
width: 333px;
}
.vector-1 {
height: 8px;
left: 248px;
position: absolute;
bottom: 91px;
width: 8px;
}
.vector-14 {
    height: 1px;
    left: 409px;
    object-fit: cover;
    position: absolute;
    top: 197px;
    width: 24px;
}
.vector-11 {
height: 27px;
left: 112px;
position: absolute;
top: 57px;
width: 25px;
}
.group-4 {
height: 7px; 
left: 189px;
position: absolute;
top: 210px;
width: 124px;
    
}

.group-3 {
height: 20px;
left: 208px;
position: absolute;
top: 187px;
width: 18px;}

.vector-6 {
height: 21px;
left: 363px;
position: absolute;
top: 312px;
width: 21px;
}
.vector-7 {
height: 8px;
left: 359px;
position: absolute;
top:81px;
width: 8px;
}
.group-14 {
height: 247px;
left: 181px;
position: absolute;
top: 133px;
width: 264px;
}
.vector-3
{
height: 21px;
left: 116px;
position: absolute;
top: 312px; 
width: 21px;
}

.group-44 {
    opacity: 0.4;
    height: 74px;
    left: 47px;
    position: absolute;
    top: -2px;
    width: 74px;
}

.vector-4 { 
height: 8px;
left: 133px;
position: absolute;
top: 308px;
width: 8px;
    
}

.group-38 {
    opacity: 0.6;
    height: 74px;
    left: 379px;
    position: absolute;
    top: -3px;
    width: 75px;
}
.vector {
height: 260px;
left: 126px;
position: absolute;
top: 74px;
width: 260px;
    
}
.vector-13 {
height: 8px;
left: 406px;
position: absolute;
top: 194px;
width: 8px;
    
}
.vector-12 {
    height: 8px;
left: 133px;
position: absolute;
top: 81px;
width:8px;
    
}

.vector-2 {
    height: 19px;
    left: 251px;
    position: absolute;
    bottom: 76px;
    width: 1px;
}

.group-42 {
    opacity: 0.4;
    height: 74px;
    left: 51px;
    position: absolute;
    top: 318px;
    width: 74px;
}

.group-41{
opacity: 0.4;
height: 74px;
left: 216px;
position: absolute;
top: 377px;
width:74px;
    
}

.vector-9{
height: 1px;
left: 66px;
object-fit: cover; 
position: absolute;
top: 198px;
width: 24px;
}
.vector-5 { 
height: 8px;
left: 360px;
position: absolute;
top: 308px;
width: 8px;
}

.group-43 {
    opacity: 0.4;
    height: 74px;
    left: -7px;
    position: absolute;
    top: 160px;
    width: 74px;
}

.group-45 {
    opacity: 0.4;
    height: 74px;
    left: 375px;
    position: absolute;
    top: 318px;
    width: 75px;
}

.vector-8 {
height: 27px;
left: 364px;
position: absolute;
top: 57px;
width: 25px;
}

.group-46 {
    opacity: 0.4;
    height: 74px;
    left: 431px;
    position: absolute;
    top: 157px;
    width: 75px;
}

.group-2 {
height: 21px; 
left: 188px;
position: absolute;
top: 186px;
width: 125px;
}
.vector-10
{
height: 8px; 
left: 86px;
position: absolute;
top: 194px;
width:8px;
}

.group-1 {
height: 198px;
left: 145px;
position: absolute;
top: 107px;
width:211px;
}

img.active {
    transform: scale(1.1);
    transition-duration: .5s;
     opacity: 1;
            }
            
div.active {
    transform: scale(1.1);
    transition-duration: .5s;
     opacity: 1;
            }
           
 img.mainactive {
    transition-duration: .5s;
     opacity: 1;
            }          

.show {
display: block;
position: absolute;
left: 701px;
top: 117px;
width: 38%;
}


.hide {
    display: none;
}


img#main:hover {
    cursor: pointer;
   
}  

div#txt:hover {
    transform: scale(1.1);
    transition-duration:.5s;
    cursor: pointer;
     opacity: 1;
}         
 
div#txt1:hover {
    transform: scale(1.1);
    transition-duration:.5s;
    cursor: pointer;
    opacity: 1;
}  
div#txt2:hover{
    transform: scale(1.1);
    transition-duration:.5s;
    cursor: pointer;
    opacity: 1;
}  
 img#txt{
 
    transition-duration:.5s;
} 
 img#txt1{

    transition-duration:.5s;
} 
 img#txt2{
 
    transition-duration:.5s;
} 

 img#txt3{
 
    transition-duration:.5s;
}  
div#txt3:hover{
    transform: scale(1.1);
    transition-duration:.5s;
    cursor: pointer;
    opacity: 1;
} 

 img#txt4{
 
    transition-duration:.5s;
}  
div#txt4:hover{
    transform: scale(1.1);
    transition-duration:.5s;
    cursor: pointer;
    opacity: 1;
} 
 img#txt5{
 
    transition-duration:1s;
}  
div#txt5:hover{
    transform: scale(1.1);
    transition-duration:.5s;
    cursor: pointer;
    opacity: 1;
} 
 img#txt6{
 
    transition-duration:.5s;
}  
 div#txt6:hover{
    transform: scale(1.1);
    transition-duration:.5s;
    cursor: pointer;
    opacity: 1;
} 

/*animation1*/

.img-wrapper{
  display: block;
  border-radius: 60%;
}
.img-wrapper::before {
  content: "";
  position: absolute;
  inset: -7px;
  border: 2px solid #fff0;
  border-top-color: #65bfc1;
  border-bottom-color: #65bfc1;
  border-radius: 50%;
  z-index: -1;
  animation: spin 1s linear infinite;
  animation-delay: 0s important;
  animation-iteration-count: 1;
  transform: rotate(140deg);
   
}
.img-wrapper:hover::before {
  animation: spin 1s linear infinite;
}
@keyframes spin {
    from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*animation2*/
.img-wrapper1{
  display: block;
  border-radius: 60%;
}
.img-wrapper1::before {
 content: "";
 position: absolute;
 inset: -7px;
 border: 2px solid #fff0;
 border-top-color: #3598af;
 border-bottom-color: #3598af;
 border-radius: 50%;
 z-index: -1;
 animation: spin1 1s linear infinite;
  animation-iteration-count: 1;
 -webkit-animation-delay: 1s;
   
}
.img-wrapper1:hover::before {
  animation: spin1 1s linear infinite;
}
@keyframes spin1 {
  to {
    transform: rotate(360deg);
  }
}

/*animation3*/
.img-wrapper2{
  display: block;
  border-radius: 60%;
}
.img-wrapper2::before {
  content: "";
  position: absolute;
  inset: -7px;
  border: 2px solid #fff0;
  border-top-color:#248293;
  border-bottom-color: #248293;
  border-radius: 50%;
  z-index: -1;
 animation: spin2 1s linear infinite;
 animation-iteration-count: 1;
 -webkit-animation-delay: 2s;
   transform: rotate(40deg);
}
.img-wrapper2:hover::before {
  animation: spin2 1s linear infinite;
}
@keyframes spin2 {
     from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*animation4*/
.img-wrapper3{
  display: block;
  border-radius: 60%;
}
.img-wrapper3::before {
  content: "";
  position: absolute;
  inset: -7px;
  border: 2px solid #fff0;
  border-top-color: #31847f;
  border-bottom-color: #31847f;
  border-radius: 50%;
  z-index: -1;
 animation: spin3 1s linear infinite;
 animation-iteration-count: 1;
 -webkit-animation-delay: 3s;
   transform: rotate(90deg);
}
.img-wrapper3:hover::before {
  animation: spin3 1s linear infinite;
}
@keyframes spin3 {
    from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*animation4*/
.img-wrapper4{
  display: block;
  border-radius: 60%;
}
.img-wrapper4::before {
  content: "";
  position: absolute;
  inset: -7px;
  border: 2px solid #fff0;
  border-top-color: #46923e;
  border-bottom-color: #46923e;
  border-radius: 50%;
  z-index: -1;
 animation: spin4 1s linear infinite;
 animation-iteration-count: 1;
 -webkit-animation-delay: 4s;
   transform: rotate(140deg);
}
.img-wrapper4:hover::before {
  animation: spin4 1s linear infinite;
}
@keyframes spin4 {
   from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*animation5*/
.img-wrapper5{
  display: block;
  border-radius: 60%;
}
.img-wrapper5::before {
  content: "";
  position: absolute;
  inset: -7px;
  border: 2px solid #fff0;
  border-top-color: #88aa56;
  border-bottom-color: #88aa56;
  border-radius: 50%;
  z-index: -1;
 animation: spin5 1s linear infinite;
 animation-iteration-count: 1;
 -webkit-animation-delay: 5s;
   
}
.img-wrapper5:hover::before {
  animation: spin5 1s linear infinite;
}
@keyframes spin5 {
  to {
    transform: rotate(360deg);
  }
}

/*animation5*/
.img-wrapper6{
  display: block;
  border-radius: 60%;
}
.img-wrapper6::before {
  content: "";
  position: absolute;
  inset: -7px;
  border: 2px solid #fff0;
  border-top-color: #a2c15f;
  border-bottom-color: #a2c15f;
  border-radius: 50%;
  z-index: -1;
 animation: spin6 1s linear infinite;
 animation-iteration-count: 1;
 -webkit-animation-delay: 6s;
   transform: rotate(40deg);
}
.img-wrapper6:hover::before {
  animation: spin6 1s linear infinite;
}
@keyframes spin6 {
    from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*right*/

#Maintext{
    font-family: poppins;
    font-size: 14px;
    color: #727272;
    padding: 20px 20px;
    text-align: left;
    margin-top: 10px;
 
}
#GDPR{
    font-family: poppins;
    font-size: 14px;
    color: #727272;
    padding: 20px 20px;
    text-align: left;
    margin-top: 10px;
}
#UKGDPR {
    font-family: poppins;
    font-size: 14px;
    color: #727272;
    padding: 20px 20px;
    text-align: left;
    margin-top: 10px;
    
}
#test {
    font-family: poppins;
    font-size: 14px;
    color: #727272;
     padding: 20px 20px;
    text-align: left;
    margin-top: 10px;
 
}
#test1 {
     font-family: poppins;
     font-size: 14px;
    color: #727272;
    padding: 20px 20px;
    text-align: left;
    margin-top: 10px;
}
#test2 {
    font-family: poppins;
    font-size: 14px;
    color: #727272;
     padding: 20px 20px;
    text-align: left;
    margin-top: 10px;
    
}
#test3 { 
    font-family: poppins;
    font-size: 14px;
    color: #727272;
     padding: 20px 20px;
    text-align: left;
    margin-top: 10px;
    
}
#test4 {
    font-family: poppins;
    font-size: 14px;
    color: #727272;
    padding: 20px 20px;
    text-align: left;
    margin-top: 10px;
    
}

div#GDPR h4 {
    color: #61b8b9;
    font-size: 20px
}
div#UKGDPR h4 {
    color: #5aa2b3;
    font-size: 20px
}
div#test h4 {
    color: #248293;
    font-size: 20px
}
div#test1 h4 {
    color: #2c7773;
    font-size: 20px
}
div#test2 h4 {
    color: #46923e;
    font-size: 20px
}
div#test3 h4 {
    color: #88aa56;
    font-size: 20px
}
div#test4 h4 {
    color: #a3c15f;
    font-size: 20px
}
div#Maintext h4 {
    color: #606060;
    font-size: 20px
}

span#bold {
    font-weight: 600;
}

img.arrow-ikon {
    width: 17px;
    transition-duration:.5s;
}
img.arrow-ikon.entered.lazyloaded:hover {
    cursor: pointer;
     transform: scale(1.2);
    transition-duration:.5s;
}
span#submain {
    font-size: 16px;
    font-weight: 400;
}
img.arrow-ikon {
    width: 17px;
    transition-duration: .5s;
}
img.arrow-ikon:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition-duration: .5s;
}

.services {
  margin: 36px;
}

</style>